<div class="about-container">
    <mat-card class="about-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
                <h3>Paolo Chaffey</h3>
                <h2>
                    About Me
                </h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Hi, I’m Paolo Chaffey, a Computer Science  student at Queen’s University Belfast with a passion for developing  technology that enhances everyday life. With over 10 years of experience in tech—beginning with freelance projects and continuing through  academic pursuits and internships—I have built a strong foundation in  software development, web applications, and IoT. I’m particularly  interested in creating scalable, user-friendly solutions that make a  tangible impact.
                <br><br>I’ve had the opportunity to work as a Junior  Software Developer, where I gained hands-on experience with Angular,  TypeScript, and project management. Additionally, I worked as an  Assistant Tutor, mentoring kids in programming, which has honed my  ability to communicate complex ideas simply and effectively.
                
                <br>
                My goal is to continue expanding my knowledge and skills in areas like cloud computing, and low-level device development.</p>
        </mat-card-content>
        
    </mat-card>
    <img class="dragon" src="assets/icon/purple-dragon.svg" alt="">

</div>
