<mat-toolbar [ngClass]="grey ? 'grey' : 'black'">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    <span routerLink="">Paolo Chaffey</span>
    <span class="example-spacer"></span>
    <div>
        <button class="nav-button" mat-fab extended color="white" routerLink="about"> <mat-icon>info</mat-icon> About</button>
        <button class="nav-button" mat-fab extended color="white"> <mat-icon>grid_view</mat-icon> Portfolio</button>
        <button class="nav-button" mat-fab extended color="white"> <mat-icon>campaign</mat-icon> Blog</button>
    </div>
</mat-toolbar>
  