<div class="portfolio-container">
    <div class="portfolio-card">
            <!-- <c-carousel>
                <c-carousel-indicators></c-carousel-indicators>
                <c-carousel-inner>
                  <c-carousel-item *ngFor="let slide of slides">
                    
                  </c-carousel-item>
                </c-carousel-inner>
                <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
                <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
              </c-carousel> -->
              
            <igx-carousel>
                <igx-slide *ngFor="let slide of slides">
                    <div class="live-item">
                            <img class="card-img" [src]="slide.banner" alt="">
                            <div class="markdown-container">                                
                                <markdown mermaid katex [src]="slide.description"></markdown>
                            </div>
                    </div>
                </igx-slide>
            </igx-carousel>
    </div>

</div>
