<div class="portfolio-container">
    <div class="portfolio-card">
        <mat-card-header>
            <mat-card-title>
                <h3></h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <c-carousel>
                <c-carousel-indicators></c-carousel-indicators>
                <c-carousel-inner>
                  <c-carousel-item *ngFor="let slide of slides">
                    
                  </c-carousel-item>
                </c-carousel-inner>
                <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
                <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
              </c-carousel> -->
              
            <igx-carousel>
                <igx-slide *ngFor="let slide of slides">
                    <div class="live-item">
                            <img class="card-img" [src]="slide.banner" alt="">
                            <div>
                                <h3>{{slide.name}}</h3>
                            </div>
                    </div>
                </igx-slide>
            </igx-carousel>
        </mat-card-content>
        

    </div>

</div>
